<nav class="navbar is-dark has-shadow is-fixed-top" id="navMenu">
    <div class="nav-brand">

        <a class="navbar-item" href="/user/index">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" width="115"
                height="0" class="mt-2">
        </a>
        <a class="navbar-burger" data-target="nav-links">
            <span></span>
            <span></span>
            <span></span>
        </a>

    </div>

    <div class="navbar-menu" id=nav-links>
        <div class="navbar-end">
            <div class="buttons navbar-item">
                <a class="button is-link" href="/user/friends">
                    <strong>Amigos</strong>
                </a>

                <a class="button is-link" href="/user/profile">
                    <strong>Perfil</strong>
                </a>

                <a class="button is-white" href="/logout">
                    <span>Sair</span>
                </a>
            </div>
        </div>
    </div>
</nav>