<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/navbar.ejs') %>
            <main class="hero is-medium has-background-info-light">
                <div class="hero-body">
                    <div class="container">
                        <div class="columns is-mobile is-centered">
                            <div class="column is-half has-text-centered mb-6">
                                <p class="bd-notification is-primary">
                                <h1>Amigos</h1>
                                <h2>Site para encontrar novos amigos</h2>
                                </p>
                            </div>
                        </div>

                        <div class="columns is-mobile">
                            <div class="column is-8">
                                <figure class="has-text-centered image is-128x128">
                                    <img src="./img/amigos.svg" alt="">
                                </figure>
                            </div>
                            <div class="column">Encontre novas amizades.</div>
                            <div class="column">Aumente sua roda de amigos.</div>
                        </div>
                    </div>
                </div>
            </main>
            <section class="section">
                <div class="columns is-centered">
                    <div class="card">
                        <div class="card-image">
                            <figure class="has-text-centered image is-1by1">
                                <img src="./img/amigos.svg" alt="">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media-content has-text-centered pb-4">
                                <p class="title">Amigos</p>
                            </div>
                            <div class="content has-text-centered">
                                Futuramente
                            </div>
                            <div class="field">
                                <a class="button is-primary is-fullwidth" href="/users/login">Encontrar novos amigos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="section is-primario is-hidden-mobile">
                <div class="level">
                    <div class="level-item has-text-centered">
                        <div class="has-text-centered">
                            <h2>Todos os direitos reservados</h2>
                        </div>
                    </div>
                </div>
            </div>

    </body>

    <%- include('./partials/rodape.ejs') %>