<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <section>
        <div class="box1">
            <h3>popular create rank list</h3>
            <div class="list1">
                <div class="imgBx">
                    <img src="/img/itadori.jpg" alt="">
                </div>
                <div class="content1">
                    <h2 class="rank"><small>#</small>1</h2>
                    <h4>Mauricio</h4>
                    <p>Programador</p>
                </div>
            </div>
        </div>
    </section>

</body>

</html>