<%- include("../../partials/head.ejs") %>

    <body>
        <%- include("../../partials/navbarUser.ejs") %>
            <div class="hero is-fullheight has-background-info-light">
                <div class="hero-body">
                    <div class="container">
                        <div class="divSection">

                            <div class="box1">

                                <div class="tabs is-centered is-toggle is-toggle-rounded">
                                    <ul>
                                        <li class="is-active"><a a href="/user/friends">Amigos</a></li>
                                        <li><a href="/user/sent">Pendentes</a></li>
                                        <li><a a href="/user/pending">Solicitações</a></li>
                                    </ul>
                                </div>

                                <h1>Solicitação pendente</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </body>

    <% - include("../../partials/rodape.ejs") %>